{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-card shadow="never" style="min-height:650px;">
<div v-if="search_visible" id="search" class="search">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="所属分类">
			<treeselect style="width:150px" :appendToBody="true" :default-expand-level="1" v-model="searchData.class_id" :options="class_id" :normalizer="normalizer" :show-count="true" zIndex="999999" placeholder="请选择所属分类"/>
		</el-form-item>
		<el-form-item label="供应商">
			<el-select style="width:150px" v-model="searchData.supplier_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in supplier_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="状态">
			<el-select style="width:150px" v-model="searchData.status" filterable clearable placeholder="请选择">
				<el-option key="0" label="正常" value="1"></el-option>
				<el-option key="1" label="禁用" value="0"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="用户id">
		</el-form-item>
		<search-tool :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div class="btn-group" style="margin-top:10px;margin-bottom:10px;">
	<div>
		<el-button v-for="item in button_group" :key="item.access" v-if="checkPermission(item.access,'{:implode(',',session('admin.access'))}','{:session('admin.role_id')}',[1])" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname)">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool :search_visible.sync="search_visible"  @refesh_list="index"></table-tool></div>
</div>
<el-table :row-class-name="rowClass" @selection-change="selection"  @row-click="handleRowClick"  row-key="goods_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type="selection" width="42"></el-table-column>
	<el-table-column align="center" type = '' property="goods_id" label="编号" show-overflow-tooltip width="70">
	</el-table-column>
	<el-table-column align="left"  property="goods_name" label="商品名称" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="goodscata.class_name" label="分类名称" show-overflow-tooltip width="75">
	</el-table-column>
	<el-table-column align="center"  property="supplier.supplier_name" label="供应商名称" show-overflow-tooltip width="90">
	</el-table-column>
	<el-table-column align="center"  property="pic" label="封面图" show-overflow-tooltip width="80">
		<template slot-scope="scope">
			<div class="demo-image__preview">
				<el-image v-if="scope.row.pic" class="table_list_pic" :src="scope.row.pic"  :preview-src-list="[scope.row.pic]"></el-image>
			</div>
		</template>
	</el-table-column>
	<el-table-column align="center"  property="sale_price" label="销售价" show-overflow-tooltip width="75">
	</el-table-column>
	<el-table-column align="center"  property="status" label="状态" show-overflow-tooltip width="80">
		<template slot-scope="scope">
			<el-switch @change="updateExt(scope.row,'status')" :active-value="1" :inactive-value="0" v-model="scope.row.status"></el-switch>
		</template>
	</el-table-column>
	<el-table-column align="center"  property="sortid" label="排序" show-overflow-tooltip width="80">
		<template class="sort" slot-scope="scope">
			<el-input @blur.stop="updateExt(scope.row,'sortid')"  size="mini" placeholder="排序" v-model="scope.row.sortid"></el-input>
		</template>
	</el-table-column>
	<el-table-column align="center"  property="create_time" label="发布时间" show-overflow-tooltip width="100">
		<template slot-scope="scope">
			{{parseTime(scope.row.create_time,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="180">
		<template slot-scope="scope">
			<div v-if="scope.row.goods_id">
				<el-button v-if="checkPermission('/admin/Goods/update.html','{:implode(",",session("admin.access"))}','{:session("admin.role_id")}',[1])" size="mini" icon="el-icon-edit" type="primary" @click="update(scope.row)" >修改</el-button>
				<el-button v-if="checkPermission('/admin/Goods/delete.html','{:implode(",",session("admin.access"))}','{:session("admin.role_id")}',[1])" size="mini" icon="el-icon-delete" type="danger" @click="del(scope.row)" >删除</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>

<!--添加-->
<Add :show.sync="dialog.addDialogStatus" size="small" @refesh_list="index"></Add>
<!--修改-->
<Update :info="updateInfo" :show.sync="dialog.updateDialogStatus" size="small" @refesh_list="index"></Update>
<!--查看详情-->
<Detail :info="detailInfo" :show.sync="dialog.detailDialogStatus" size="small" @refesh_list="index"></Detail>

</div>
{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/assets/libs/treeselect/vue-treeselect.umd.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/assets/libs/treeselect/vue-treeselect.min.css">
<script src="__PUBLIC__/assets/libs/vuedragable/Sortable.min.js"></script>
<script src="__PUBLIC__/assets/libs/vuedragable/vuedraggable.umd.min.js"></script>
<script src="__PUBLIC__/components/admin/goods/add.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/goods/update.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/goods/detail.js?v=<?php echo rand(1000,9999)?>"></script>
<script>
new Vue({
	el: '#app',
	components:{
		'treeselect':VueTreeselect.Treeselect,
		'draggable':window.vuedraggable,
	},
	data: function() {
		return {
			dialog: {
				addDialogStatus : false,
				updateDialogStatus : false,
				detailDialogStatus : false,
			},
			searchData:{},
			button_group:[
				{name:'添加',color:'success',access:'/admin/Goods/add.html',icon:'el-icon-plus',disabled:'',clickname:'add'},
				{name:'修改',color:'primary',access:'/admin/Goods/update.html',icon:'el-icon-edit',disabled:'single',clickname:'update'},
				{name:'删除',color:'danger',access:'/admin/Goods/delete.html',icon:'el-icon-delete',disabled:'multiple',clickname:'del'},
				{name:'查看详情',color:'info',access:'/admin/Goods/detail.html',icon:'el-icon-view',disabled:'single',clickname:'detail'},
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			ids: [],
			single:true,
			multiple:true,
			search_visible:true,
			list: [],
			class_id: [],
			supplier_id: [],
			updateInfo:{},
			detailInfo:{},
		}
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page}
			Object.assign(param, this.searchData)
			this.loading = true
			axios.post(base_url + '/Goods/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
					if(this.page_data.page == 1){
						this.class_id = res.data.sql_field_data.class_ids
						this.supplier_id = res.data.sql_field_data.supplier_ids
					}
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		updateExt(row,field){
			if(row.goods_id){
				axios.post(base_url + '/Goods/updateExt',{goods_id:row.goods_id,[field]:row[field]}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}
		},
		add(){
			this.dialog.addDialogStatus = true
		},
		update(row){
			let id = row.goods_id ? row.goods_id : this.ids.join(',')
			axios.post(base_url + '/Goods/getUpdateInfo',{goods_id:id}).then(res => {
				if(res.data.status == 200){
					this.dialog.updateDialogStatus = true
					this.updateInfo = res.data.data
				}else{
					this.$message.error(res.data.msg)
				}
			})
		},
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.goods_id ? row.goods_id : this.ids.join(',')
				axios.post(base_url + '/Goods/delete',{goods_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		detail(row){
			this.dialog.detailDialogStatus = true
			this.detailInfo = {goods_id:row.goods_id ? row.goods_id : this.ids.join(',')}
		},
		selection(selection) {
			this.ids = selection.map(item => item.goods_id)
			this.single = selection.length != 1
			this.multiple = !selection.length
		},
		handleRowClick(row, rowIndex,event){
			if(event.target.className !== 'el-input__inner'){
				this.$refs.multipleTable.toggleRowSelection(row)
			}
		},
		rowClass ({ row, rowIndex }) {
			for(let i=0;i<this.ids.length;i++) {
				if (row.goods_id === this.ids[i]) {
					return 'rowLight'
				}
			}
		},
		/** 转换菜单数据结构 */
		normalizer(node) {
			if (node.children && !node.children.length) {
				delete node.children
			}
			return {
				id: node.val,
				label: node.key,
				children: node.children
			}
		},
		fn(method){
			this[method](this.ids)
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
