<footer class="footer">
 <div class="main container">
  <div class="f-about fl">
   <p class="title pb1">关于本站</p>
   <div class="intro">本网站的主要功能有前端技术文章、网站的脚本资源的免费下载、网站模板的下载等，通过分享总结把用到的知识与资源都积累记录下来。</div>
   <small><span>Copyright &copy; 2019-2022 新闻博客文章日记资讯类网织梦模板 版权所有 <a href="javascript:if(confirm(%27http://www.cssmoban.com/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.cssmoban.com/%27" tppabs="http://www.cssmoban.com/" target='_blank'>91084</a></span><span class="icp"><a target="_blank" rel="nofollow" href="javascript:if(confirm(%27https://beian.miit.gov.cn/  \n\nThis file was not retrieved by Teleport Pro, because it is addressed using an unsupported protocol (e.g., gopher).  \n\nDo you want to open it from the server?%27))window.location=%27https://beian.miit.gov.cn/%27" tppabs="https://beian.miit.gov.cn/">豫ICP备12345678号</a></span></small> </div>
  <div class="f-contact fl">
   <p class="title pb1">联系我们</p>
   <div>
    <p>合作或咨询可通过如下方式：</p>
    <p><i class="iconfont icon-qq-fill"></i>QQ：842087642</p>
    <p><i class="iconfont icon-weibo-fill"></i>微博：http://www.weibo.com</p>
    <p><i class="iconfont icon-wechat-fill"></i>邮箱：842087642@qq.com</p>
   </div>
  </div>
  <div class="f-qr fr">
   <p class="title pb1">关注我们</p>
   <div><img class="img br" alt="演示站二维码" src="style/images/weixin.png" tppabs="http://oyqj-0922-16.demo.cssmoban.com:8020/style/images/weixin.png"/></div>
  </div>
  <div class="clear"></div>
 </div>
 <!--侧边客服代码-->
 <div id="toolbar" class="toolbar "> <a class="hidden-sm-md-lg btn qq sb br" href="javascript:if(confirm(%27http://wpa.qq.com/msgrd?v=3&uin=6364544&site=qq&menu=yes&from=message&isappinstalled=0  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://wpa.qq.com/msgrd?v=3&uin=6364544&site=qq&menu=yes&from=message&isappinstalled=0%27" tppabs="http://wpa.qq.com/msgrd?v=3&uin=6364544&site=qq&menu=yes&from=message&isappinstalled=0" target="_blank" rel="nofollow"> <i class="iconfont icon-qq"></i> <span class="qqnum sb br"></span> </a>
  <div id="qr" class="hidden-sm-md-lg btn sb br"> <i class="iconfont icon-qr"></i> <img id="qr-img" class="br sb" src="style/images/weixin.png" tppabs="http://oyqj-0922-16.demo.cssmoban.com:8020/style/images/weixin.png" alt="二维码"> </div>
  <div id="totop" class="btn hidden sb br"> <i class="iconfont icon-top"></i> </div>
 </div>
</footer>